In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import fsolve
from scipy.optimize import brentq

# part i q1

In [2]:
ois = pd.read_excel("IR Data.xlsx", sheet_name = 'OIS', usecols = ["Tenor", "Product", "Rate"])
ois

   Tenor Product     Rate
0     6m     OIS  0.00250
1     1y     OIS  0.00300
2     2y     OIS  0.00325
3     3y     OIS  0.00335
4     4y     OIS  0.00350
5     5y     OIS  0.00360
6     7y     OIS  0.00400
7    10y     OIS  0.00450
8    15y     OIS  0.00500
9    20y     OIS  0.00525
10   30y     OIS  0.00550

In [3]:
#tenors = ['6m', '1y', '2y', '3y', '4y', '5y', '7y', '10y', '15y', '20y', '30y']
tenors = ois["Tenor"]

# Define a function to convert tenor strings to days
def tenor_to_days(tenor):
    if 'm' in tenor:
        return int(tenor.replace('m', '')) * 30
    elif 'y' in tenor:
        return int(tenor.replace('y', '')) * 360
    else:
        return None

def tenor_to_years(tenor):
    if 'm' in tenor:
        return int(tenor.replace('m', '')) / 12
    elif 'y' in tenor:
        return int(tenor.replace('y', ''))
    else:
        return None

# Convert each tenor to days
ois["days"] = [tenor_to_days(tenor) for tenor in tenors]
ois["years"] = [tenor_to_years(tenor) for tenor in tenors]
ois

   Tenor Product     Rate   days  years
0     6m     OIS  0.00250    180    0.5
1     1y     OIS  0.00300    360    1.0
2     2y     OIS  0.00325    720    2.0
3     3y     OIS  0.00335   1080    3.0
4     4y     OIS  0.00350   1440    4.0
5     5y     OIS  0.00360   1800    5.0
6     7y     OIS  0.00400   2520    7.0
7    10y     OIS  0.00450   3600   10.0
8    15y     OIS  0.00500   5400   15.0
9    20y     OIS  0.00525   7200   20.0
10   30y     OIS  0.00550  10800   30.0

In [4]:
ois1 = ois.copy()
ois1[['sum_df','df']] = np.nan
ois1

   Tenor Product     Rate   days  years  sum_df  df
0     6m     OIS  0.00250    180    0.5     NaN NaN
1     1y     OIS  0.00300    360    1.0     NaN NaN
2     2y     OIS  0.00325    720    2.0     NaN NaN
3     3y     OIS  0.00335   1080    3.0     NaN NaN
4     4y     OIS  0.00350   1440    4.0     NaN NaN
5     5y     OIS  0.00360   1800    5.0     NaN NaN
6     7y     OIS  0.00400   2520    7.0     NaN NaN
7    10y     OIS  0.00450   3600   10.0     NaN NaN
8    15y     OIS  0.00500   5400   15.0     NaN NaN
9    20y     OIS  0.00525   7200   20.0     NaN NaN
10   30y     OIS  0.00550  10800   30.0     NaN NaN

In [5]:
def equation1(df, rate):
    return rate*df - (1 - df)
    
guess = 0.99

ois1.at[1, 'df'] = fsolve(equation1, guess, args=(ois1.at[1, 'Rate']))[0]
ois1.at[1, 'sum_df'] = ois1.at[1, 'df']
ois1

   Tenor Product     Rate   days  years    sum_df        df
0     6m     OIS  0.00250    180    0.5       NaN       NaN
1     1y     OIS  0.00300    360    1.0  0.997009  0.997009
2     2y     OIS  0.00325    720    2.0       NaN       NaN
3     3y     OIS  0.00335   1080    3.0       NaN       NaN
4     4y     OIS  0.00350   1440    4.0       NaN       NaN
5     5y     OIS  0.00360   1800    5.0       NaN       NaN
6     7y     OIS  0.00400   2520    7.0       NaN       NaN
7    10y     OIS  0.00450   3600   10.0       NaN       NaN
8    15y     OIS  0.00500   5400   15.0       NaN       NaN
9    20y     OIS  0.00525   7200   20.0       NaN       NaN
10   30y     OIS  0.00550  10800   30.0       NaN       NaN

In [6]:
def equation2(df, rate, ois_df):
    return rate*(df + ois_df.sum()) - (1 - df)
    
for i in range(2, 6):
    ois1.at[i, 'df'] = fsolve(equation2, guess, args=(ois1.at[i, 'Rate'], ois1["df"]))[0]
    ois1.at[i, 'sum_df'] = ois1.at[i, 'df'] + ois1.at[i-1, 'sum_df']
ois1

   Tenor Product     Rate   days  years    sum_df        df
0     6m     OIS  0.00250    180    0.5       NaN       NaN
1     1y     OIS  0.00300    360    1.0  0.997009  0.997009
2     2y     OIS  0.00325    720    2.0  1.990540  0.993531
3     3y     OIS  0.00335   1080    3.0  2.980555  0.990015
4     4y     OIS  0.00350   1440    4.0  3.966672  0.986117
5     5y     OIS  0.00360   1800    5.0  4.948856  0.982184
6     7y     OIS  0.00400   2520    7.0       NaN       NaN
7    10y     OIS  0.00450   3600   10.0       NaN       NaN
8    15y     OIS  0.00500   5400   15.0       NaN       NaN
9    20y     OIS  0.00525   7200   20.0       NaN       NaN
10   30y     OIS  0.00550  10800   30.0       NaN       NaN

In [7]:
def equation3(df, rate, i, ois1):
    sum1 = ois1.at[i-1,'sum_df']
    sum2 = (ois1.at[i, 'years']-ois1.at[i-1, 'years']+1)*(df + ois1.at[i-1,'df'])/2 - ois1.at[i-1, 'df']
    return rate*(sum1 + sum2) - (1 - df)

for i in range(6, len(ois1)):
    
    ois1.at[i, 'df'] = fsolve(equation3, guess, args=(ois1.at[i, 'Rate'], i, ois1))[0]

    sum2 = (ois1.at[i, 'years']-ois1.at[i-1, 'years']+1)*(ois1.at[i,'df'] + ois1.at[i-1,'df'])/2 - ois1.at[i-1, 'df']
    
    ois1.at[i, 'sum_df'] = sum2 + ois1.at[i-1, 'sum_df']
ois1

   Tenor Product     Rate   days  years     sum_df        df
0     6m     OIS  0.00250    180    0.5        NaN       NaN
1     1y     OIS  0.00300    360    1.0   0.997009  0.997009
2     2y     OIS  0.00325    720    2.0   1.990540  0.993531
3     3y     OIS  0.00335   1080    3.0   2.980555  0.990015
4     4y     OIS  0.00350   1440    4.0   3.966672  0.986117
5     5y     OIS  0.00360   1800    5.0   4.948856  0.982184
6     7y     OIS  0.00400   2520    7.0   6.898556  0.972406
7    10y     OIS  0.00450   3600   10.0   9.782916  0.955977
8    15y     OIS  0.00500   5400   15.0  14.477704  0.927611
9    20y     OIS  0.00525   7200   20.0  19.033155  0.900076
10   30y     OIS  0.00550  10800   30.0  27.744234  0.847407

In [8]:
def equation4(df, rate, years):
    return years*rate*df - (1 - df)
guess = 0.99

ois1.at[0, 'df'] = fsolve(equation4, guess, args=(ois1.at[0, 'Rate'], ois1.at[0, 'years']))[0]
ois1

   Tenor Product     Rate   days  years     sum_df        df
0     6m     OIS  0.00250    180    0.5        NaN  0.998752
1     1y     OIS  0.00300    360    1.0   0.997009  0.997009
2     2y     OIS  0.00325    720    2.0   1.990540  0.993531
3     3y     OIS  0.00335   1080    3.0   2.980555  0.990015
4     4y     OIS  0.00350   1440    4.0   3.966672  0.986117
5     5y     OIS  0.00360   1800    5.0   4.948856  0.982184
6     7y     OIS  0.00400   2520    7.0   6.898556  0.972406
7    10y     OIS  0.00450   3600   10.0   9.782916  0.955977
8    15y     OIS  0.00500   5400   15.0  14.477704  0.927611
9    20y     OIS  0.00525   7200   20.0  19.033155  0.900076
10   30y     OIS  0.00550  10800   30.0  27.744234  0.847407

In [9]:
ois2 = ois1[["years", 'Rate', 'df']].copy()

# Generate the full sequence
full_sequence = np.arange(0.5, 30.5, 0.5)
# Convert 'years' column of your DataFrame to a list
existing_years = ois2['years'].tolist()
# Remove the existing years from the full sequence
new_years = [year for year in full_sequence if year not in existing_years]

additional_years = pd.DataFrame({
    'years': new_years,
    'Rate': [np.nan]*len(new_years),
    'df': [np.nan]*len(new_years)
})
ois2 = pd.concat([additional_years, ois2])
ois2 = ois2.sort_values(by='years')
ois2 = ois2.interpolate(method='linear')

In [10]:
ois2

    years      Rate        df
0     0.5  0.002500  0.998752
1     1.0  0.003000  0.997009
0     1.5  0.003125  0.995270
2     2.0  0.003250  0.993531
1     2.5  0.003300  0.991773
3     3.0  0.003350  0.990015
2     3.5  0.003425  0.988066
4     4.0  0.003500  0.986117
3     4.5  0.003550  0.984150
5     5.0  0.003600  0.982184
4     5.5  0.003700  0.979740
5     6.0  0.003800  0.977295
6     6.5  0.003900  0.974850
6     7.0  0.004000  0.972406
7     7.5  0.004083  0.969668
8     8.0  0.004167  0.966929
9     8.5  0.004250  0.964191
10    9.0  0.004333  0.961453
11    9.5  0.004417  0.958715
7    10.0  0.004500  0.955977
12   10.5  0.004550  0.953140
13   11.0  0.004600  0.950304
14   11.5  0.004650  0.947467
15   12.0  0.004700  0.944631
16   12.5  0.004750  0.941794
17   13.0  0.004800  0.938958
18   13.5  0.004850  0.936121
19   14.0  0.004900  0.933285
20   14.5  0.004950  0.930448
8    15.0  0.005000  0.927611
21   15.5  0.005025  0.924858
22   16.0  0.005050  0.922104
23   16.5  0.005075  0.919351
24   17.0  0.005100  0.916597
25   17.5  0.005125  0.913844
26   18.0  0.005150  0.911090
27   18.5  0.005175  0.908337
28   19.0  0.005200  0.905583
29   19.5  0.005225  0.902829
9    20.0  0.005250  0.900076
30   20.5  0.005263  0.897442
31   21.0  0.005275  0.894809
32   21.5  0.005288  0.892176
33   22.0  0.005300  0.889542
34   22.5  0.005313  0.886909
35   23.0  0.005325  0.884275
36   23.5  0.005338  0.881642
37   24.0  0.005350  0.879008
38   24.5  0.005363  0.876375
39   25.0  0.005375  0.873741
40   25.5  0.005387  0.871108
41   26.0  0.005400  0.868474
42   26.5  0.005412  0.865841
43   27.0  0.005425  0.863207
44   27.5  0.005437  0.860574
45   28.0  0.005450  0.857941
46   28.5  0.005462  0.855307
47   29.0  0.005475  0.852674
48   29.5  0.005487  0.850040
10   30.0  0.005500  0.847407

# part i q2

In [11]:
irs = pd.read_excel("IR Data.xlsx", sheet_name = 'IRS', usecols = ["Tenor", "Product", "Rate"])
irs["tenor"] = [tenor_to_years(tenor) for tenor in irs["Tenor"]]

irs1 = irs[['tenor', 'Rate']].copy()
# Generate the full sequence
full_sequence = np.arange(0.5, 30.5, 0.5)
# Convert 'years' column of your DataFrame to a list
existing_tenor = irs1['tenor'].tolist()
# Remove the existing years from the full sequence
new_tenor = [tenor for tenor in full_sequence if tenor not in existing_tenor]

additional_tenor = pd.DataFrame({
    'tenor': new_tenor,
    'Rate': [np.nan]*len(new_tenor),
})
irs1 = pd.concat([additional_tenor, irs1])
irs1 = irs1.sort_values(by='tenor')
irs1['ois_df'] = ois2['df']
irs1['libor_df'] = np.nan
irs1 = irs1.reset_index(drop=True)

## method1

In [12]:
def equation1(df, irs):
    irs1 = irs.copy()
    irs1['libor_df'].iloc[-1] = df
    irs1[['tenor', 'libor_df']] = irs1[['tenor', 'libor_df']].interpolate(method='linear')
    sum = 0
    for i in range(len(irs1)):
        if i == 0:
            sum += irs1["ois_df"].iloc[i]/irs1['libor_df'].iloc[i]*2
        else:
            sum += irs1["ois_df"].iloc[i]*irs1['libor_df'].iloc[i-1]/irs1['libor_df'].iloc[i]*2

    return sum - (irs1['Rate'].iloc[-1] + 2)*np.sum(irs1['ois_df'])
guess = 0.2

index = irs1[pd.notna(irs1['Rate'])].index

for i in index:
    irs1.at[i, 'libor_df'] = fsolve(equation1, guess, args=(irs1.iloc[0:i+1]))[0]

## method2

In [13]:
index = irs1[pd.notna(irs1['Rate'])].index

for i in index:
    def equation1(df, i = i):
        irs2 = irs1.iloc[0:i+1].copy()
        irs2['libor_df'].iloc[-1] = df
        irs2[['tenor', 'libor_df']] = irs2[['tenor', 'libor_df']].interpolate(method='linear')
        sum = 0
        for i in range(len(irs2)):
            if i == 0:
                sum += irs2["ois_df"].iloc[i]/irs2['libor_df'].iloc[i]*2
            else:
                sum += irs2["ois_df"].iloc[i]*irs2['libor_df'].iloc[i-1]/irs2['libor_df'].iloc[i]*2
    
        return sum - (irs2['Rate'].iloc[-1] + 2)*np.sum(irs2['ois_df'])

    irs1.at[i, 'libor_df'] = brentq(equation1, 0.001, 1)

irs1 = irs1.interpolate(method='linear')

In [14]:
irs1

    tenor      Rate    ois_df  libor_df
0     0.5  0.025000  0.998752  0.987654
1     1.0  0.028000  0.997009  0.972577
2     1.5  0.029000  0.995270  0.957378
3     2.0  0.030000  0.993531  0.942179
4     2.5  0.030750  0.991773  0.926330
5     3.0  0.031500  0.990015  0.910482
6     3.5  0.032000  0.988066  0.894731
7     4.0  0.032500  0.986117  0.878981
8     4.5  0.032750  0.984150  0.863985
9     5.0  0.033000  0.982184  0.848989
10    5.5  0.033500  0.979740  0.832796
11    6.0  0.034000  0.977295  0.816603
12    6.5  0.034500  0.974850  0.800409
13    7.0  0.035000  0.972406  0.784216
14    7.5  0.035333  0.969668  0.768965
15    8.0  0.035667  0.966929  0.753714
16    8.5  0.036000  0.964191  0.738463
17    9.0  0.036333  0.961453  0.723212
18    9.5  0.036667  0.958715  0.707961
19   10.0  0.037000  0.955977  0.692710
20   10.5  0.037300  0.953140  0.678547
21   11.0  0.037600  0.950304  0.664384
22   11.5  0.037900  0.947467  0.650221
23   12.0  0.038200  0.944631  0.636058
24   12.5  0.038500  0.941794  0.621896
25   13.0  0.038800  0.938958  0.607733
26   13.5  0.039100  0.936121  0.593570
27   14.0  0.039400  0.933285  0.579407
28   14.5  0.039700  0.930448  0.565244
29   15.0  0.040000  0.927611  0.551081
30   15.5  0.040500  0.924858  0.536794
31   16.0  0.041000  0.922104  0.522508
32   16.5  0.041500  0.919351  0.508222
33   17.0  0.042000  0.916597  0.493935
34   17.5  0.042500  0.913844  0.479649
35   18.0  0.043000  0.911090  0.465363
36   18.5  0.043500  0.908337  0.451077
37   19.0  0.044000  0.905583  0.436790
38   19.5  0.044500  0.902829  0.422504
39   20.0  0.045000  0.900076  0.408218
40   20.5  0.045250  0.897442  0.398990
41   21.0  0.045500  0.894809  0.389762
42   21.5  0.045750  0.892176  0.380534
43   22.0  0.046000  0.889542  0.371307
44   22.5  0.046250  0.886909  0.362079
45   23.0  0.046500  0.884275  0.352851
46   23.5  0.046750  0.881642  0.343623
47   24.0  0.047000  0.879008  0.334396
48   24.5  0.047250  0.876375  0.325168
49   25.0  0.047500  0.873741  0.315940
50   25.5  0.047750  0.871108  0.306712
51   26.0  0.048000  0.868474  0.297484
52   26.5  0.048250  0.865841  0.288257
53   27.0  0.048500  0.863207  0.279029
54   27.5  0.048750  0.860574  0.269801
55   28.0  0.049000  0.857941  0.260573
56   28.5  0.049250  0.855307  0.251346
57   29.0  0.049500  0.852674  0.242118
58   29.5  0.049750  0.850040  0.232890
59   30.0  0.050000  0.847407  0.223662

# part i q3

In [15]:
fsr = pd.DataFrame({'start' : [1]*5 + [5]*5 + [10]*5,'tenor' : [1,2,3,5,10]*3, 'fsr': [np.nan]*15})

for i in fsr.index:
    def equation(S, start = fsr.at[i, 'start'], tenor = fsr.at[i, 'tenor'], irs = irs1):
        irs1 = irs[(irs['tenor'] > start)&(irs['tenor'] <= start+tenor)].copy()
    
        sum1 = 0
        for i in irs1.index:
                sum1 += irs.at[i, 'ois_df']*irs.at[i-1, 'libor_df']/irs.at[i, 'libor_df']*2
        
        sum2 = (S+2)*np.sum(irs1['ois_df'])
        
        return sum1-sum2

    fsr.at[i, 'fsr'] = brentq(equation, 0.0001, 0.5)

In [20]:
fsr

    start  tenor       fsr
0       1      1  0.032007
1       1      2  0.033259
2       1      3  0.034011
3       1      5  0.035255
4       1     10  0.038428
5       5      1  0.039274
6       5      2  0.040075
7       5      3  0.040072
8       5      5  0.041093
9       5     10  0.043634
10     10      1  0.042189
11     10      2  0.043116
12     10      3  0.044097
13     10      5  0.046249
14     10     10  0.053458

In [23]:
ois2

    years      Rate        df
0     0.5  0.002500  0.998752
1     1.0  0.003000  0.997009
0     1.5  0.003125  0.995270
2     2.0  0.003250  0.993531
1     2.5  0.003300  0.991773
3     3.0  0.003350  0.990015
2     3.5  0.003425  0.988066
4     4.0  0.003500  0.986117
3     4.5  0.003550  0.984150
5     5.0  0.003600  0.982184
4     5.5  0.003700  0.979740
5     6.0  0.003800  0.977295
6     6.5  0.003900  0.974850
6     7.0  0.004000  0.972406
7     7.5  0.004083  0.969668
8     8.0  0.004167  0.966929
9     8.5  0.004250  0.964191
10    9.0  0.004333  0.961453
11    9.5  0.004417  0.958715
7    10.0  0.004500  0.955977
12   10.5  0.004550  0.953140
13   11.0  0.004600  0.950304
14   11.5  0.004650  0.947467
15   12.0  0.004700  0.944631
16   12.5  0.004750  0.941794
17   13.0  0.004800  0.938958
18   13.5  0.004850  0.936121
19   14.0  0.004900  0.933285
20   14.5  0.004950  0.930448
8    15.0  0.005000  0.927611
21   15.5  0.005025  0.924858
22   16.0  0.005050  0.922104
23   16.5  0.005075  0.919351
24   17.0  0.005100  0.916597
25   17.5  0.005125  0.913844
26   18.0  0.005150  0.911090
27   18.5  0.005175  0.908337
28   19.0  0.005200  0.905583
29   19.5  0.005225  0.902829
9    20.0  0.005250  0.900076
30   20.5  0.005263  0.897442
31   21.0  0.005275  0.894809
32   21.5  0.005288  0.892176
33   22.0  0.005300  0.889542
34   22.5  0.005313  0.886909
35   23.0  0.005325  0.884275
36   23.5  0.005338  0.881642
37   24.0  0.005350  0.879008
38   24.5  0.005363  0.876375
39   25.0  0.005375  0.873741
40   25.5  0.005387  0.871108
41   26.0  0.005400  0.868474
42   26.5  0.005412  0.865841
43   27.0  0.005425  0.863207
44   27.5  0.005437  0.860574
45   28.0  0.005450  0.857941
46   28.5  0.005462  0.855307
47   29.0  0.005475  0.852674
48   29.5  0.005487  0.850040
10   30.0  0.005500  0.847407

In [29]:
### cal PVBP for part2
for i in fsr.index:
    expiry = fsr.at[i, 'start']
    tenor = fsr.at[i, 'tenor']
    ois3 = ois2[(ois2['years'] > expiry) & (ois2['years'] <= (expiry + tenor))].copy()

    fsr.at[i, 'PVBP'] = np.sum(ois3['df'])*0.5

In [30]:
fsr

    start  tenor       fsr      PVBP
0       1      1  0.032007  0.994400
1       1      2  0.033259  1.985294
2       1      3  0.034011  2.972386
3       1      5  0.035255  4.934070
4       1     10  0.038428  9.747887
5       5      1  0.039274  0.978517
6       5      2  0.040075  1.952145
7       5      3  0.040072  2.920444
8       5      5  0.041093  4.840612
9       5     10  0.043634  9.542492
10     10      1  0.042189  0.951722
11     10      2  0.043116  1.897771
12     10      3  0.044097  2.838147
13     10      5  0.046249  4.701880
14     10     10  0.053458  9.264214

In [31]:
fsr.to_csv('fsr.csv', index = False)